.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 70px;
    width: 70px;
    border: 1px solid;
    background-image: url(../asset/Pas\ Foto.jpg);
    background-size: cover;
    border-radius: 50%;
}

nav>a {
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
}

.banner-container {
    height: 350px;
    width: 100%;
    border: 1px solid;
}

.profile-content{
    display: flex;
    justify-content: space-evenly;
}

.profile-item {
    flex: 1;
    text-align: -webkit-center;
}

.profile-icon {
    height: 50px;
    width: 50px;
    border: 1px solid;
    background-size: cover;
    border-radius: 50%;
}

.profile-1 {
    background-image: url(../asset/1.webp)
}

.profile-2 {
    background-image: url(../asset/2.webp)
}

.profile-3 {
    background-image: url(../asset/3.png)
}

.divider {
    flex: 2;
}